APP_NAME="Furukawa API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=id
APP_FALLBACK_LOCALE=en

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=info

# === Database ===
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3308
DB_DATABASE=furukawa_laravel
DB_USERNAME=root
DB_PASSWORD=

SANCTUM_TOKEN_EXPIRATION=4320

# === CORS ===
APP_CORS_ALLOWED_ORIGINS="http://localhost:3000,https://kite.furukawa.id"

PASSWORD_LAZY_MIGRATE=true

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local
MAIL_MAILER=log
